{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %} | Add {% endblock %}
{% block content %}
		<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm pull-right" data-toggle="modal" data-target="#datamodel"><i class="fas fa-upload fa-sm text-white-50"></i> upload from csv</a>


			<form action="{% url 'addcourse' %}" method="POST">
				{% csrf_token %}
				<span class="login100-form-title p-b-43">
					Add a Course
				</span>

				<div class="wrap-input100">
					<input class="input100" name="c_id" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Course Id</span>
				</div>


				<div class="wrap-input100">
					<input class="input100" name="title" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Course Name</span>
				</div>

				<div class="wrap-input100" >
					<input class="input100" name="dept" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Department</span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" name="action" value="submit">
						ADD
					</button>
				</div>

			</form>
<hr class=" d-none d-md-block">
<!-- Table  -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">All Courses</h6>
  </div>
  <div class="card-body">
	<div class="table-responsive">
		{% if courses %}
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		  <thead>
			<tr>
				<th>#</th>
			  <th>Course Id</th>
			  <th>Course Name</th>
			  <th>Department</th>
			</tr>
		  </thead>
		  <tfoot>
			<tr>
				<th>#</th>
			   <th>Course Id</th>
 			  <th>Course Name</th>
 			  <th>Department</th>
			</tr>
		  </tfoot>
		   <tbody>
			   {% for course in courses %}
			 <tr>
				 <th scope="row">{{forloop.counter}}</th>
			  <td>{{course.course_id}}</td>
			  <td>{{course.title}}</td>
			  <td>{{course.dept}}</td>
			 </tr>
			 {% endfor %}
			 </tbody>
		   </table>
		   {% else %}
		   <h3>No Courses Available</h3>
		   {% endif %}
		 </div>
	   </div>
	 </div>


{% endblock %}
