{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %} | Add {% endblock %}
{% block content %}
<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm pull-right" data-toggle="modal" data-target="#datamodel"><i class="fas fa-upload fa-sm text-white-50"></i> upload from csv</a>
			<form action="{% url 'addstudent' %}" method="POST">
				{% csrf_token %}
				<span class="login100-form-title p-b-43">
					Add a Student
				</span>
				{% include 'partials/_alerts.html' %}
				<div class="wrap-input100">
					<input class="input100" name="roll" type="number" >
					<span class="focus-input100"></span>
					<span class="label-input100">Roll No.</span>
				</div>


				<div class="wrap-input100">
					<input class="input100" name="name" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Name</span>
				</div>

				<div class="wrap-input100" >
					<input class="input100" name="email" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Email</span>
				</div>

                <div class="wrap-input100" >
					<input class="input100" name="dept" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Department</span>
				</div>

                <div class="wrap-input100" >
					<input class="input100" name="pass" type="text" >
					<span class="focus-input100"></span>
					<span class="label-input100">Password</span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" name="action" value="submit">
						ADD
					</button>
				</div>

			</form>
<hr class=" d-none d-md-block">
<!-- Table  -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">All Students</h6>
  </div>
  <div class="card-body">
	<div class="table-responsive">
		{% if students %}
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		  <thead>
			<tr>
				<th>#</th>
			  <th>Roll_No</th>
			  <th>Name</th>
			  <th>Email</th>
              <th>Department</th>
              <th>Password</th>
			</tr>
		  </thead>
		  <tfoot>
			<tr>
				<th>#</th>
			   <th>Roll_No</th>
 			  <th>Name</th>
 			  <th>Email</th>
               <th>Department</th>
               <th>Password</th>
			</tr>
		  </tfoot>
		   <tbody>
			   {% for student in students %}
			 <tr>
				 <th scope="row">{{forloop.counter}}</th>
			  <td>{{student.roll_no}}</td>
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td>{{student.dept}}</td>
              <td>{{student.password}}</td>
			 </tr>
			 {% endfor %}
			 </tbody>
		   </table>
		   {% else %}
		   <h3>No Students Available</h3>
		   {% endif %}
		 </div>
	   </div>
	 </div>


{% endblock %}
