{% extends 'faculty/base_faculty.html' %}
{% load static %}
{% block title %} | Faculty {% endblock %}
{% block javascript %}
<script>

function getDate() {
var today = new Date();
var dd = today.getDate();

var mm = today.getMonth()+1;
var yyyy = today.getFullYear();
if(dd<10)
{
    dd='0'+dd
}

if(mm<10)
{
    mm='0'+mm
}
today = yyyy+'-'+mm+'-'+dd;

document.getElementById("date").value = today;

}

window.onload = function() {
  getDate();
};


    $("#id_course").click(function () {
      var course_id =  $(this).val();
      var date = $('#date').val();
      $.ajax({
        url: '{% url "take_attendance1" %}',
        data: {
          'course_id': course_id,
          'date':date
        },
        dataType: 'json',
        success: function (data) {

            console.log(data);
            var i = 0;
            var content = "<tbody>";
          for(i=0;i<data.studentroll.length;i++) {
            content += "<tr><td>"+data.studentroll[i]+"</td>";
            content += "<td>"+data.studentname[i]+"</td>";
            if(data.pa_list[i]=='present'){
            content +='<td><label class="btn btn-primary"><input name = "o'+(i+1)+'" type="radio"   value ="1" checked> Present</label></td>'
          }else{
            content +='<td><label class="btn btn-primary"><input name = "o'+(i+1)+'" type="radio"   value ="1"> Present</label></td>'
          }
          if(data.pa_list[i]=='absent'){
            content +='<td><label class="btn btn-secondary "><input name ="o'+(i+1)+'" type="radio"   value="2" checked> Absent</label></td></tr>'
          }else{
            content +='<td><label class="btn btn-secondary "><input name ="o'+(i+1)+'" type="radio"   value="2"> Absent</label></td></tr>'
          }
          }
            content += "</tbody>";
            document.getElementById("dataTable").innerHTML = content;
        }
      });
    });
  </script>
{% endblock %}
{% block content %}
<div class="container">
<div class ="row">
  <div class='col-sm'>
    <form action="{% url 'take_attendance' %}" method="POST" id ='myform'>
      	{% csrf_token %}
          <input type='date' id="date" name = "date" class="form-control">
          <div class="card shadow mb-4">

            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Attendance For</h6>
                {% if courses %}
                <select class="form-control" name = 'course_id' id = 'id_course'>
                  {% for course in courses %}
                  {%if currentid == course.course_id.course_id %}
                  <option value = '{{course.course_id.course_id}}' selected="selected">{{course.course_id.course_id}}</option>
                  {%else%}
                  <option value = '{{course.course_id.course_id}}'>{{course.course_id.course_id}}</option>
                  {%endif%}
                  {% endfor %}
                  {% endif %}
                </select>
            </div>


            <div class="card-body">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>


                   </tbody>
             </table>
                 </form>
                 <button class="btn btn-success" type="submit" name="action" value="submit">SAVE
                 </button>
            </div>

          </div>
      </div>



</div>
</div>

{% endblock %}
